# Do not add preview HTML files
CONTRIBUTING.html
README.html

# VSCodium project settings
.vscode/
.code-workspace

# Do not add the nested preview repository
preview/

# Jekyll / Bundler build artifacts
_site/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
